.content-login{
  width: 960px;
  margin: 8% auto 0 auto;
}

.container-login .content-login form {
  display: flex;
  flex-direction: column;
}

.container-login .content-login form h1{
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}

.container-login .content-login form input{
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 12px;
  margin-top: 8px;
}

.container-login .content-login form button{
  width: 50%;
  margin: 20px auto 0 auto;
  border: 2px solid #ffbb00;
  padding: 12px;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
  color: #ffbb00; 
  cursor: pointer;
}

.container-login .content-login form button:hover{
  color: #000;
  background-color: #ffbb00;
}


.container-login .content-login .links-login {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container-login .content-login .links-login a{
  color: #000;
  font-size: 20px;
  margin: 0 ;
}

.container-login .content-login .links-login a:hover{
  color: #ffbb00;
}

.container-login .content-login .links-login .back-link-login{
  display: flex;
  align-items: center;
  margin: 2% 0 0 24.8888%;
}

.container-login .content-login .links-login .back-link-login .arrow-left-login{
  margin-right: 5px;
}

.container-login .content-login .links-login .foward-link-login{
  display: flex;
  align-items: center;
  margin: 2% 24.8888% 0 0;
}

.container-login .content-login .links-login .foward-link-login .arrow-right-login{
  margin-left: 5px;
}

