.container-profile{
	display: flex;
	font-family: Roboto, sans-serif;
}

.container-profile h1,h2{
	text-transform: uppercase;
	font-size: 16px;
}

.container-profile a{
	font-size: 14px;
	font-weight: 300;

	text-transform: uppercase;
	
	color: #686868;
}

.container-profile a:hover{
	color: #ffffff;
}

.container-profile .container-aside-profile{
	display: flex;
	flex-direction: column;

	background-color: #242424;
	color: #ffffff;
}

.container-profile .container-aside-profile .aside-top{
	text-align: center;
}

.container-profile .container-aside-profile .aside-top h1{
	margin-top: 10%;
}

.container-profile .container-aside-profile .aside-top img{
	max-width: 50%;
	height: auto;

	margin: 10% auto;
}

.container-profile .container-aside-profile .aside-bottom{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-bottom: 13%;
}

.container-profile .container-aside-profile .aside-bottom h2{
	margin-top: 10%;
}

.container-profile .container-aside-profile .aside-bottom .menu-text-profile{
	background-color: #B1B1B1;
	width: 100%;
	line-height: 5vh;
	text-align: center;

	color: #000000;

	margin: 10% auto 0 auto;
}

.container-profile .container-section-profile .container-header-profile{
	display: flex;
	justify-content: center;

	width: 84vw;
	line-height: 5vh;

	background-color: #242424;
}

.container-profile .container-section-profile .container-header-profile h1{
	margin-left: auto;
	color: #ffffff;
}

.container-profile .container-section-profile .container-header-profile a{
	margin-left: auto;
	margin-right: 20px;
}

.container-profile .container-section-profile  .content-profile{
	height: 91vh;
}

.container-profile .container-section-profile  .footer-profile{
	display: flex;
	justify-content: center;

	width: 84vw;
	line-height: 5vh;

	background-color: #242424;
}

.container-profile .container-section-profile .footer-profile h2{
	color: #ffffff;

	margin-right: 20px;
}