.container-inventario{
  display: flex;
  flex-direction: column;

  margin-left: 13vw;

  height: 100vh;

  background-color: #333333;
}

.container-inventario .header-inventario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 87vw;
  margin-top: 5vh;
}

.container-inventario .header-inventario h1{
  font-size: 22px;
}

.container-inventario .header-inventario form{
  display: flex;
  align-items: center;

  margin-bottom: 8vh;
}

.container-inventario .header-inventario form input{
  border: 1px solid #cccccc;
  border-radius: 5px;

  padding: 8px;
  margin-top: 1vh;
  width: 20vw;
}

.container-inventario .header-inventario form button{
  border: 1px solid #cccccc;
  border-radius: 10px;

  padding: 8px;
  margin-top: 1vh;
  margin-left: 1vw;

  cursor: pointer;
}

.container-inventario .header-inventario form button:hover{
  opacity: .5;
}

.container-inventario .content-inventario{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 85vw;
}

.container-inventario .content-inventario .dados-inventario{
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 5px;
  
  background-color: #cccccc;
}

.container-inventario .content-inventario .dados-inventario li{
  width: 20vw;
}

.container-inventario .content-inventario .dados-inventario li span{
  font-weight: 700;
}