header{
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-img img{
  max-width: 80px;
  height: auto;
  margin: 8px;
}

.menu-principal a{
  font-size: 32px;
  /* font-weight: bold; */
  color: #000000;    
}

.menu-principal a:hover{
color: #ffbb00;
}

.menu-principal li{
  display: inline;
  margin-left: 20px;
}

.menu-users{
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  margin-right: 30px;
}

.button{
  background-color: transparent;
  padding: 8px 0;
  border: 2px solid #ffbb00;
  border-radius: 8%;
  margin-right: 10px;    
}

.button a{
  font-size: 32px;
  /* font-weight: bold; */
  padding: 9px 10px;
  color: #ffbb00;
}

.button a:hover{
  background-color: #ffbb00;
  color: #000000;
}