.content-principal{
    background-color:black;
    width: 100%;
    height: 0 auto;
}

.separator{
    background-image: url('../../assets/images/separador1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 100px;
    margin: 0 auto;
    height:30px;
    width: 70%;
}

.conteudo{
    width: 160vh;
    height: 0 auto;
    margin: 0 auto;
}

.info-pvp{
    font-family: Roboto;
    font-size: 1.1em;
    color: white;
    text-align: center;
}

.container-raca{
    width: 100%;
    height: 0 auto;
    margin: 0 auto;

}

.content-card{
    padding: 0;
    width: 100%;
    min-height: 350px;
    height: 750px;
    display: flex;
    padding: 50px;
}

.humano{
    background-image: url('../../assets/images/humanos.png');

}

.elfo{
    background-image: url('../../assets/images/elfos.png');

}

.darkelfo{
        background-image: url('../../assets/images/darkelfos.png');

}

.orc{
    background-image: url('../../assets/images/orcs.png');

}

.anao{
    background-image: url('../../assets/images/anao.png');
}

.img-card-size{
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.racao-texto{
    text-align: center;
    font-family: Roboto;
    color: white;
    width: 45%;
    height: 0 auto;
    max-height: 100%;
    font-size: 1.7em;
    margin: auto;
    overflow: auto;
    padding-left: 5px;
}

.img-raca{
    width: 50%;
    height: 100%;
}

.img-raca:hover{

    background-image: url('../../assets/images/grafico.png');
	border-radius: 5px;
    transition: background 2s;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {

    background-color: black;
    height: 1px;
    width: 1px;
    
  }

  .grafico-raca{
      width: 50%;
      height: 350px;
      padding: 0;
      margin: 0 auto;
      background-image: url('../../assets/images/grafico.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
  }

