.content-principal{
    background-color:black;
    width: 100%;
    min-height: 200px;
    height: 0 auto;
}

.separator{


    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    transform: rotate(180deg);
    padding: 0;
    margin: 0;

    height:30px;
    width: 100%;
}