body{
    width: 100%;
    height: 0 auto;
}

.wallpaper-btnPlay{
    width: 100%;
    height: 3000px;
    background-repeat: no-repeat;
}

.div-Play{

}

#btn_play{
    background-color: transparent;
    border: none;
}

#btn_play:hover{
    background-color: orange;    
}