@import url('https://fonts.googleapis.com/css?family=Ceviche+One&display=swap');

.container-playnow{
	width: 100%;
  height: 745px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-playnow .menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	background-color: tomato;
}

.container-playnow .menu a{
	font-size: 25px;
	color: #fff;
}

.container-playnow .btn-play:hover{
	background-color: orange;    
}
.container-playnow .btn-play .myButton {
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius: 6px;
	cursor: pointer;
	color:#333333;
	font-size: 42px;
	font-weight: bold;
	padding: 18px 150px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
	margin: 0 auto;
}

.container-playnow .btn-play .myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.container-playnow .btn-play .myButton:active {
	position:relative;
	top:1px;
}
