.container-playnow{
	width: 100%;
  height: 745px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-playnow .container-menu-left{
	width: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
}

.container-playnow .container-menu-left .menu{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 0;
}

.container-playnow .container-menu-left .imgbottom img{
	transform: rotate(180deg);
}

.container-playnow .container-menu-left .menu li{
	margin: 15px 0;
}

.container-playnow .container-menu-left .menu a{
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #535353;
}

.container-playnow .container-menu-left .menu a:hover{
	color: #fff;
}

.container-playnow .btn-play{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
}

.container-playnow .btn-play img{
	margin-bottom: 1%;
}

.container-playnow .btn-play a{
	color:#fff;
	font-size: 32px;
	text-shadow:  0 0 1em rgba(0, 0, 0, 0.9);
}

.container-playnow .btn-play .myButton {
	background-color: rgba(255, 236, 100, 0.7);
	border-radius: 6px;
	padding: 8px 70px;
	margin: 0 auto;
}


.container-playnow .btn-play .myButton:hover {
	background-color:rgba(255, 236, 100, 0.9);
}

.container-playnow .btn-play .interlude-logo{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-playnow .btn-play .interlude-logo img{
	max-width: 30%;
	height: auto;
	margin-bottom: 20%;
}

.container-playnow .container-menu-right{
	width: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
}

.container-playnow .container-menu-right .menu{
	margin: 50px 0;
}

.container-playnow .container-menu-right .imgbottom img{
	transform: rotate(180deg);
}

.container-playnow .container-menu-right .menu li{
	margin: 15px 0;
}

.container-playnow .container-menu-right .menu a{
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #535353;
}

.container-playnow .container-menu-right .menu a:hover{
	color: #fff;
}
